{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="root" >
    <title>Plug</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
	<style>
	#link{margin:8px;}
	</style>
</head>
<body>
{% include 'header.html'%}

<div class="container text-center banner">

<div class="panel panel-primary">
	<div class="panel panel-heading">信息收集类</div>
	<div class="panel-body">
	<a id="link" href="{% url "plug_spider" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;百度爬虫</a>
	<a id="link" href="{% url "plug_zoomeye" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;钟馗之眼</a>
	<a id="link" href="{% url "plug_fingerprint" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;指纹识别</a>

	</div>
</div>	

<!-- active,success,warning,danger,info -->
<!-- btn-default,btn-primary,btn-success,btn-info,btn-warning,btn-danger,btn-link -->

<div class="panel panel-primary">
	<div class="panel panel-heading">漏洞扫描类</div>
	<div class="panel-body">
	<a id="link" href="{% url "lan" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;C段扫描</a>
	<!-- https://v3.bootcss.com/components/ -->
	<a id="link" href="{% url "weakpass" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;弱口令扫描</a>

	</div>
</div>	


<div class="panel panel-primary">
	<div class="panel panel-heading">报告类</div>
	<div class="panel-body">
	<a id="link" href="{% url "baobiao_weekly" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;一键扫描周报</a>
	<a id="link" href="{% url "baobiao_monthly" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;一键扫描月报</a>
	<a id="link" href="{% url "jixian_weekly" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;基线检查周报</a>
	<a id="link" href="{% url "jixian_monthly" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;基线检查月报</a>
	</div>
</div>	


<div class="panel panel-primary">
	<div class="panel panel-heading">其他</div>
	<div class="panel-body">
	<a id="link" href="{% url "tooler" %}" class="btn btn-primary btn-lg btn-info" target="_blank">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;编码工具</a>
	</div>
</div>


</div>


{% include 'footer.html' %}
<!-- js引用-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>


</body>
</html>
{% else %}
<script>window.location.href="{% url 'login' %}";</script> 
{% endif %}