<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="favicon.ico">
	<meta name="description" content="">
	<meta name="keyword" content="">
	<meta name="author" content="">
	<title>{{title}}</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<!--header start-->
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">POC概念</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">0day分析</a></li>
					<li ><a href="#">渗透工具</a></li>
					<li ><a href="#">在线POC验证</a></li>
					<li ><a href="#">漏洞修复</a></li>
					<li ><a href="#">在线交流</a></li>
					<li ><a href="#">关于作者</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li ><a tel="4000010331" > 联系电话：4000-010-331</a></li>
				</ul>
			</nav>
		</div>
</header>
<!--header end-->

<div class="jumbotron text-center banner">
  <h1>POC概念验证平台！</h1>
  <p>Django开发中.......</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">更多资料...</a></p>
</div>
<!-- container start-->
<div class="container">
<div class="row">
	<div class="col-md-6">
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    漏洞分析模块  <span style="float:right">更多</span>
	  </a>
	  <a href="#" class="list-group-item">漏洞分析1</a>
	  <a href="#" class="list-group-item">漏洞分析2</a>
	  <a href="#" class="list-group-item">漏洞分析3</a>
	  <a href="#" class="list-group-item">漏洞分析4</a>
	  <a href="#" class="list-group-item">漏洞分析5</a>
	</div>
	</div>

	<div class="col-md-6">
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    POC验证模块  <span style="float:right">更多</span>
	  </a>
	  <a href="#" class="list-group-item">POC验证1</a>
	  <a href="#" class="list-group-item">POC验证2</a>
	  <a href="#" class="list-group-item">POC验证3</a>
	  <a href="#" class="list-group-item">POC验证4</a>
	  <a href="#" class="list-group-item">POC验证5</a>
	</div>
	</div>
</div>

</div>
<!-- container end-->
<footer class="footer navbar-inverse footcolor text-center">
	<div class="container">
		<p><br>
		<!--<img border="0" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=1:610358898:3" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=610358898&amp;Menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" style="CURSOR: pointer">-->
		<b>MAIL：admin@0535code.com  | 京ICP备10009220号-1 </b></p>
</footer>
<!-- js引用-->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>