<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>VULSCAN</title>
    <!-- 引入 Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
<div class="container" style="margin-top:150px;">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<h1 class="text-center"><p>VulScan</p></h1><h2></h2>
<form class="form-horizontal" role="form" action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="col-sm-4 control-label">username：</label>
    <div class="col-md-8">
      <input type="username" style="width:200px;" name="username" class="form-control"  placeholder="username">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">password：</label>
    <div class="col-md-8">
      <input type="password" style="width:200px;" name="password" class="form-control"  placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
	<div class="col-md-4"></div>
	  <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-lg">submit</button>
	  </div>
	<div class="col-md-4"></div>
    </div>
	 
  </div>
</form>
</div>
<div class="col-md-4"><a class="btn btn-danger btn-lg" href="mailto:admin@0535code.com" >申请账户试用</a></div>
</div>
</div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/css/bootstrap.min.css"></script>
  </body>
</html> 