<!--header start-->
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">VULSCAN</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
		
					{% url 'index' as url_index %}
					<li {% if request.path == url_index %}class="active"{% endif %} ><a href={% url "index" %}>首页</a></li>
					<!-- 
					{% url 'analysis' as url_analysis %}
					<li {% if request.path == url_analysis %}class="active"{% endif %} ><a href={% url "analysis" %}>漏洞分析</a></li> 
					-->
					{% url 'scan' as url_scan %}
					<li {% if request.path == url_scan %}class="active"{% endif %} ><a href={% url "scan" %}>POC插件</a></li>
					{% url 'port' as url_port %}
					<li {% if request.path == url_port %}class="active"{% endif %} ><a href={% url "port" %}>端口扫描</a></li>
					{% url 'jixian' as url_jixian %}
					<li {% if request.path == url_jixian %}class="active"{% endif %} ><a href={% url "jixian" %}>基线检查</a></li>
					<!--
					<li ><a href="javascript:alert('开发中');">APP检测</a></li>
					<li ><a href="javascript:alert('开发中');">代码审计</a></li>
					-->
					<!-- <li ><a href=#>被动扫描</a></li> -->
					<!--
					{% url 'lan' as url_lan %}
					<li {% if request.path == url_lan %}class="active"{% endif %} ><a href={% url "lan" %}>C段扫描</a></li>
					{% url 'weakpass' as url_weakpass %}
					<li {% if request.path == url_weakpass %}class="active"{% endif %} ><a href={% url "weakpass" %}>弱口令扫描</a></li>
					-->
					{% url 'navigation' as url_navigation %}
					<li {% if request.path == url_navigation %}class="active"{% endif %} ><a href={% url "navigation" %}>网址导航</a></li>
					{% url 'plug' as url_plug %}
					<li {% if request.path == url_plug %}class="active"{% endif %} ><a href={% url "plug" %}>扩展模块</a></li>
					{% url 'help' as url_help %}
					<li {% if request.path == url_help %}class="active"{% endif %} ><a href={% url "help" %}>使用说明</a></li>					

				</ul>
	            <ul class="nav navbar-nav navbar-right">
	                <!-- <li ><a href="/admin/">Manage</a></li> -->
	                <li>
	                    <a class="setting btn dropdown-toggle" id="dropdownMenu1"
	                       data-toggle="dropdown">{{ user.username }}</a>
	                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	                        <li role="presentation"><a role="menuitem" tabindex="-1" href={% url "history_views" %}>历史漏洞</a>
	                        </li>
	                        <li role="presentation"><a role="menuitem" tabindex="-1" href={% url "logout" %}>注销</a></li>
	                    </ul>
	                </li>
	            </ul>
			</nav>
		</div>
</header>
<!--header end-->





