<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 10秒自动刷新页面,重新渲染结果 
    <meta http-equiv="refresh" content="10">-->
    <link rel="icon" href="/static/favicon.ico">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="root" >
    <title>Report</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% include 'header.html'%}
{% include 'js.html' %}

<div class="container text-center banner">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
        <tbody>
        <tr class="danger">
        <th>website</th>
        <th>pocsuite</th>
        <th>id</th>
        <th>appname</th>
        <th>version</th>
        <th>verify</th>
        <th>date</th>
        <th>VerifyInfo</th>
        <th>cvss</th>
        </tr>
        {% for v in data %}  
            <tr>
                {% for i in v %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}   
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</script>

{% include 'footer.html' %}

</body>
</html>